@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lobster.woff2') format('woff2');
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

h1 {
    font-size: 2.143em;
    line-height: 1.1;
}

h2 {
    font-size: 1.857em;
}

h3 {
    margin-bottom: 10px;
    font-size: 26px;
    letter-spacing: -0.06em;
}

a {
    text-decoration: none;
    color: #303030;
}

ul {
    list-style-type: none;
}

.headerLogo {
    font-family: 'Lobster';
    font-size: 1.714em;
}

header .form-control {
    font-size: 14px;
    line-height: 1.42857143;
}

header .input-group-btn {
    font-size: 1em;
}

.btnSignIn {
    color: #e5e5e5;
}

.btnSignIn:hover {
    color: white;
}

.btnSignUp {
    color: #FFF;
    font-weight: 700;
}

nav ul {
    font-size: 0.929em;
}

nav ul > li {
    line-height: 30px;
}

.overview p {
    font-size: 2.143em;
}

.overview .btnSignUp {
    font-size: 1.286em
}

.stats h4 {
    padding: 0 0 15px 0;
    color: #999999;
    font-size: 1em;
    font-weight: 500;
}

.stats-box p {
    font-size: 1.929em;
    line-height: 0.926em;
}

.useCases li {
    line-height: 1.786em;
    font-weight: 600;
}

.benefits > .column > div > div > p{
    line-height: 60px;
}

footer {
    color: #777;
}

.feedback-link {
    color: #fff;
    line-height: 36px;
    font-weight: bold;
}