@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    font-family: 'latolight', sans-serif;
}

.flex {
    display: flex;
}

.sb {
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1,
h2 {
    text-align: center;
}

/*///////////////////////////////////////////////////////*/
.row.header h1 img {
    width: 119px;
}

h2 {
    font-size: 2.70em;
    line-height: 1.3em;
}

/*////////////////////////////////////////////////////////////*/
h3 {
    font-size: 43px;
}

.btn {
    display: inline-block;
    text-align: center;
}

.btnSignUp {
    border: 1px solid rgba(255, 255, 255,0.2);
    padding: 15px 20px;
    color: #FFF;
    font-size: 16px;
    min-width: 150px;
    text-align: center;
}

.column {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 40px 0;
}

.row.header {
    color: #FFF;
    background-color: #363f48;
}

.row.header img {
    width: 100%;
    max-width: 1090px;
    object-fit: contain;
}

.column.header.flex {
    align-items: center;
    min-height: 100vh;
}

.column.info {
    text-align: center;
}

.column.info section {
    margin-top: 77px;
}

.column.info section div {
    display: inline-block;
    vertical-align: top;
}

.info > section > * {
    width: 45%;
}

.row.signUp {
    background: #e74c3c;
    color: #FFF;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 25px;
    text-align: center;
}

.row.signUp .btn {
    margin-top: 79px;
}

footer {
    color: #9DA5AF;
    background-color: #363f48;
}

::selection {
    background: #6ec5e2;
    color: white;
}